.main{
 
  background-image: url("../src/background.jpg");
  background-size: cover;
  

}
.table{

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
.form-row label{
  font-size:x-large;
  font-style: bold;
  color: aliceblue;

}
.add{
  position: relative;
  left: -450px;
  top: -180px;
  width: 80px;
  height: 90px;
}

.edit{
  position: relative;
  left: 450px;
  top: -180px;
  width: 80px;
  height: 90px;
  
}
.table td,th{
    border: 5px solid red;
    text-align: left;
    padding: 8px;
  
}
.thead tr,td,th{
  color: aliceblue;

}
.form label{
  color: white;
}

.main h1{
  color: aliceblue;
}